@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Regular.eot');
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Regular.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Regular.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Regular.ttf') format('truetype'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Regular.svg#HelveticaNeue-Regular') format('svg'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Italic.eot');
  src: url('../fonts/HelveticaNeue/HelveticaNeue-Italic.woff2') format('woff2'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Italic.woff') format('woff'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Italic.ttf') format('truetype'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg'),
  url('../fonts/HelveticaNeue/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/MyriadPro/MyriadPro-Bold.eot');
  src: url('../fonts/MyriadPro/MyriadPro-Bold.woff2') format('woff2'),
  url('../fonts/MyriadPro/MyriadPro-Bold.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-Bold.ttf') format('truetype'),
  url('../fonts/MyriadPro/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Myriad Pro";
  src: url('../fonts/MyriadPro/MyriadPro-SemiBold.eot');
  src: url('../fonts/MyriadPro/MyriadPro-SemiBold.woff2') format('woff2'),
  url('../fonts/MyriadPro/MyriadPro-SemiBold.woff') format('woff'),
  url('../fonts/MyriadPro/MyriadPro-SemiBold.ttf') format('truetype'),
  url('../fonts/MyriadPro/MyriadPro-SemiBold.svg#MyriadPro-SemiBold') format('svg'),
  url('../fonts/MyriadPro/MyriadPro-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pacifico";
  src: url('../fonts/Pacifico/Pacifico-Regular.eot');
  src: url('../fonts/Pacifico/Pacifico-Regular.woff2') format('woff2'),
  url('../fonts/Pacifico/Pacifico-Regular.woff') format('woff'),
  url('../fonts/Pacifico/Pacifico-Regular.ttf') format('truetype'),
  url('../fonts/Pacifico/Pacifico-Regular.svg#Pacifico-Regular') format('svg'),
  url('../fonts/Pacifico/Pacifico-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}