footer.footer
    .container
        ul.footer__list
            li.footer__item
                a.footer__link(href="#") Contact
            li.footer__item
                a.footer__link(href="#") Download
            li.footer__item
                a.footer__link(href="#") Press
            li.footer__item
                a.footer__link(href="#") Email
            li.footer__item
                a.footer__link(href="#") Support
            li.footer__item
                a.footer__link(href="#") Privacy Policy