header.header
    .header__title Glow
    ul.header__platforms
        li.header__platforms-item.header__platforms-item_apple
        li.header__platforms-item.header__platforms-item_android
        li.header__platforms-item.header__platforms-item_winphone
    .header__arrow