.about {
  width: 100%;
  min-height: 427px;
  background: #e8e8e8;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 58px 10px;
  }

  &__desc {
    margin-bottom: 15px;
  }

  &__thesis {
    position: relative;
    margin-bottom: 8px;
    padding-left: 43px;

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 18px;
      width: 9px;
      height: 14px;
      background: url("../img/icons/arrows.png") -110px -20px no-repeat;
    }
  }

  &__left, &__right {
    width: 540px;
  }

  &__video {
    width: 500px;
    height: 307px;
  }
}