.features {
  width: 100%;
  min-height: 496px;
  background: #fff;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 55px 70px 100px;
  }

  &__left, &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 320px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 1;
    font-family: "Myriad Pro";
    font-weight: 600;
    color: #222;
  }

  &__desc {
    font-size: 16px;
    line-height: 1.625;
    color: #848484;
  }

  &__middle {
    position: absolute;
    top: -300px;
    left: 420px;
    width: 354px;
    height: 736px;
  }
}