section.about
    .container
        .about__left
            h3.section-title Whats Glow all About?
            .about__desc
                p.section-text Lorem ipsum dolor sit amet, consectetur acipiscing elit.
                    |  Suspendisse fringilla fringilla nisl congue congue.
                    |  Maecenas nec condimentum libero, at elementum mauris.
            .about__desc
                p.section-text Phasellus eget nisi dapibus, ultrices nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
            .about__thesis.section-text Lorem ipsum dolor sit amet
            .about__thesis.section-text Lorem ipsum dolor sit amet conesctetur elt
        .about__right
            img(src="img/content/video.jpg" alt="Video").about__video