section.awesome
    .container
        .section-title Why is Glow so Awesome!
        .awesome__text.section-text Lorem ipsum dolor sit amet, pro aeterno adipici ex, pro no iriure accusam.
            |  Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nomivani.
            |  Est habemus maiestatis ut. Vim quod elitr interesset ea.
        ul.awesome__list
            li.awesome__item
                .awesome__item-sign.awesome__item-sign_flat-design
                .awesome__item-title.section-item-title Flat Design
                .awesome__item-text.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    |  Suspencisse fringilla.
            li.awesome__item
                .awesome__item-sign.awesome__item-sign_marketable
                .awesome__item-title.section-item-title Marketable
                .awesome__item-text.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    |  Suspencisse fringilla.
            li.awesome__item
                .awesome__item-sign.awesome__item-sign_edit-photos
                .awesome__item-title.section-item-title Edit Photos
                .awesome__item-text.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    |  Suspencisse fringilla.
            li.awesome__item
                .awesome__item-sign.awesome__item-sign_edit-colors
                .awesome__item-title.section-item-title Edit Colors
                .awesome__item-text.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    |  Suspencisse fringilla.
            li.awesome__item
                .awesome__item-sign.awesome__item-sign_user-friendly
                .awesome__item-title.section-item-title User Friendly
                .awesome__item-text.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    |  Suspencisse fringilla.
            li.awesome__item
                .awesome__item-sign.awesome__item-sign_editable
                .awesome__item-title.section-item-title 100% Editable
                .awesome__item-text.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    |  Suspencisse fringilla.