section.features
    .container
        .features__left
            .features__item
                h2.section-item-title First Great Feature
                .features__desc
                    p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        |  Mauris interdum velit vitae nulla molestie eu.
            .features__item
                h2.section-item-title Second Great Feature
                .features__desc
                    p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        |  Mauris interdum velit vitae nulla molestie eu.
        .features__middle
            img(src="img/content/iphone.png" alt="iPhone").features__iphone
        .features__right
            .features__item
                h2.section-item-title Third Great Feature
                .features__desc
                    p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        |  Mauris interdum velit vitae nulla molestie eu.
            .features__item
                h2.features__title Fourth Great Feature
                .features__desc
                    p.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        |  Mauris interdum velit vitae nulla molestie eu.