section.get-in-touch
    .container
        h3.section-title Say Hi & Get in Touch
        .get-in-touch__desc.section-text Lorem ipsum dolor sit amet, consectetur adipiscing elit suspendisse.
        ul.socials
            li.socials__item.socials__item_twitter
                a(href="#").socials__link
            li.socials__item.socials__item_facebook
                a(href="#").socials__link
            li.socials__item.socials__item_pinterest
                a(href="#").socials__link
            li.socials__item.socials__item_google-plus
                a(href="#").socials__link
            li.socials__item.socials__item_linkedin
                a(href="#").socials__link
            li.socials__item.socials__item_youtube
                a(href="#").socials__link