section.newsletter
    .container
        h3.newsletter__title Subscribe to Email Newsletter
        form.newsletter__form
            input.newsletter__email(name="email" placeholder="Enter email address ...")
            input.newsletter__submit(type="submit" value="Subscribe")