section.pricing
    .pricing__block
        .container
            h3.section-title Pricing Plans
            .pricing__desc.section-text Lorem ipsum dolor sit amet, pro aeterno adipici ex, pro no iriure accusam.
                |  Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nomivani.
                |  Est habemus maiestatis ut. Vim quod elitr interesset ea.
            ul.pricing__list
                li.pricing__item.pricing__item_basic
                    h4.pricing__item-title Basic
                    .pricing__item-features
                        .pricing__item-price $19
                            sup.pricing__item-features-cents  99
                        .pricing__item-feature Feature 1
                        .pricing__item-feature Feature 2
                        .pricing__item-feature Feature 3
                        .pricing__item-feature Feature 4
                        .pricing__item-feature Feature 5
                    .pricing__item-footer
                        .pricing__item-button Purchase
                li.pricing__item.pricing__item_standard
                    h4.pricing__item-title Standard
                    .pricing__item-features
                        .pricing__item-price $39
                            sup.pricing__item-features-cents  99
                        .pricing__item-feature Feature 1
                        .pricing__item-feature Feature 2
                        .pricing__item-feature Feature 3
                        .pricing__item-feature Feature 4
                        .pricing__item-feature Feature 5
                    .pricing__item-footer
                        .pricing__item-button Purchase
                li.pricing__item.pricing__item_deluxe
                    h4.pricing__item-title.pricing__item-title_deluxe Deluxe
                    .pricing__item-features
                        .pricing__item-price $59
                            sup.pricing__item-features-cents  99
                        .pricing__item-feature Feature 1
                        .pricing__item-feature Feature 2
                        .pricing__item-feature Feature 3
                        .pricing__item-feature Feature 4
                        .pricing__item-feature Feature 5
                        .pricing__item-feature Feature 6
                    .pricing__item-footer.pricing__item-footer_deluxe
                        .pricing__item-button.pricing__item-button_deluxe Purchase
                li.pricing__item.pricing__item_unlimited
                    h4.pricing__item-title Unlimited
                    .pricing__item-features
                        .pricing__item-price $79
                            sup.pricing__item-features-cents  99
                        .pricing__item-feature Feature 1
                        .pricing__item-feature Feature 2
                        .pricing__item-feature Feature 3
                        .pricing__item-feature Feature 4
                        .pricing__item-feature Feature 5
                    .pricing__item-footer
                        .pricing__item-button Purchase
    .opinions
        .container
            .opinions__item
                h5.opinions__item-desc "Glow is one of the most complete app packages I have ever come across.
                    |  I would highly recommend it to anyone!"
                .opinions__item-author Steve Klassen
                ul.opinions__dots
                    li.opinions__dot.opinions__dot_active
                    li.opinions__dot
                    li.opinions__dot